@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');


body {
    background-image: url(images/beemo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#root {
    background: rgba(0, 0, 0, 0.40);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}